<!-- /templates/customers/login.liquid -->
<div class="container py-5 my-5">
    <div class="login-form">
        {% form 'customer_login' %}
            {% include 'form-error', form: form %}
            <h2 class="h3">Customer Login</h2>
            {{ form.errors | default_errors }}

            <label for="customer_email">Email Address</label>
            <input class="form-control my-2 rounded-0" name="customer[email]" type="email"/>

            <label class="my-2" for="customer_password">Password</label>
            <input class="form-control rounded-0" name="customer[password]" type="password"/>

            <input class="btn rust btn-primary btn-lg my-3 w-100 rounded-0" type="submit" value="Sign In"/>

        {% endform %}
        <div class="d-flex flex-row justify-content-around">
            <a class="text-center" href="https://natural-mystic-foods.myshopify.com/account/register" id="register">Register</a>
            <a class="text-center" href="#recover" id="forgotPassword">Forgot Password?</a>
        </div>
    </div>
    <div class="d-none forgot-password-form my-5" id="forgot_password_form">
        {% form 'recover_customer_password' %}
            {% include 'form-error', form: form %}
            <div class="col-12">
                <label class="form-label" for="resetPassword">
                    Email Address
                </label>
                <input class="form-control my-2" id="resetPassword" name="email" type="email">
            </div>
            <input class="btn btn-secondary" type="submit" value="Reset Password">
        {% endform %}
    </div>
</div>
