<!-- /templates/customers/reset_password.liquid -->

<!-- /templates/customers/activate_account.liquid -->
<div class="container my-5">
    <h1 class="lead">
        Reset Password
    </h1>
    <div class="row">
        {% form 'reset_customer_password' %}
            {% include 'form-error', form: form %}

            <div class="col-12">
                <label class="form-label" for="activate_password1">Password</label>
                <input class="form-control" id="activate_password1" name="customer[password]" type="password">
            </div>
            <div class="col-12 my-3">
                <label class="form-label" for="activate_password2">Password Confirmation</label>
                <input class="form-control" id="activate_password2" name="customer[password_confirmation]" type="password">
            </div>
            <div class="col-12 my-3">
                <button class="btn btn-primary w-100 rounded-0" type="submit">Reset Password</button>
            </div>

            
        {% endform %}
    </div>
</div>
