<div class="header_banner-contact position-relative text-center p-3 p-md-5">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 turmeric">{{page.title}}</h1>
        <p class="lead text-light">Send us a message</p>
    </div>
</div>
<div class="container my-5">
    <h4 class="text-center">Got a spicy query? Let's chat! Your satisfaction is our main ingredient.</h4>
    <div class="row">
        {% form 'contact' %}
            {% if form.posted_successfully? %}
                <div class="alert alert-success">
                    Thank you for your inquiry, we will get back to you promptly
                </div>
            {% endif %}
            {{ form.errors | default_errors }}
            <div class="row">
                <div class="col-12 col-md-6">
                    <label for="ContactFormName">Name</label>
                    <input class="form-control" id="ContactFormName" name="contact[name]" type="text">
                </div>
                <div class="col-12 col-md-6">
                    <label for="ContactFormEmail">Email</label>
                    <input class="form-control" id="ContactFormEmail" name="contact[email]" type="email">
                </div>
            </div>
            <div class="col-12 my-3">
                <label for="ContactFormOrderNumber">Order #</label>
                <input class="form-control" id="ContactFormOrderNumber" name="contact[order_number]" type="text">
            </div>
            <div class="col-12 my-3">
                <label for="ContactFormPhone">Phone</label>
                <input class="form-control" id="ContactFormPhone" name="contact[phone]" type="tel">
            </div>
            <div class="col-12 my-3">
                <label for="ContactFormMessage">Message</label>
                <textarea class="form-control" id="ContactFormMessage" name="contact[body]" rows="10"></textarea>
            </div>
            <input class="btn rust w-100 mt-2" type="submit" value="Submit">
        {% endform %}
    </div>
</div>

<style>
    .header_banner-contact {
        background: url({{ section.settings.banner_image | img_url: "master"}});
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    @media screen and (max-width: 600px){
        .header_banner-contact {
        background: url({{ section.settings.banner_image-mobile | img_url: "master"}});
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    }
</style>

{% schema %}
{
    "name": "Page settings",
    "settings": [
    {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Heading Background Image"
    },
    {
        "type": "image_picker",
        "id": "banner_image-mobile",
        "label": "Mobile Heading Background Image"
    }
    ]
}
{% endschema %}