// html, body {
//     padding: 0;
//     margin: 0;
//     font-size: 62.5%;
//     box-sizing: border-box;
// } 

.hero-section {
    height: 80vh;
}

.inner-hero-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.4);
    object-fit: cover;
    // z-index: -1;
}

.inner-hero-section img,
.inner-hero-section svg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.hero_pic {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.search {
    background:url('../assets/magnifying-glass-solid.svg') no-repeat center center;
    height: 1.5rem;
}

.login-form, .forgot-password-form {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

